*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header .headern{
    display: flex;
    top: 0;
    padding: 12px;
    justify-content: space-between;
    margin-top: -100px;
    margin-bottom: 140px;
}
header .headern .logo{
    margin-right: 350px;
    color: chocolate;
}
header .headerc{
    margin-left: 350px;
}
header .headerc h5{
    color: chocolate;
    font-size: 16px;
}
header .headern nav a{
    text-decoration: none;
    padding: 0 16px;
    color: whitesmoke;
}
header .headern nav a:hover{
    color: chocolate;
}
header{
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./img/IMG_2341.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
button{
    padding: 12px 16px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid lightgray;
    background: transparent;
    /* border-radius: 20px; */
    color: white;
    margin-bottom: 50px;
}
button:hover{
    border: 1px solid lightcoral;
    color: lightcoral;
    color: white;
}
header button a{
    text-decoration: none;
    color: white;
}
header button a:hover{
    color: lightcoral;
}
header .smedia{
    bottom: 120px;
    font-size: 20px;
    position: absolute;
    margin-left: 1000px;
}
header .smedia .fa-instagram{
    margin-right: 7px;
    color: #B134AF;
}
header .smedia .fa-whatsapp{
    margin-right: 7px;
    color: #25D366;
}
header .smedia .fa-snapchat{
    color: yellow;
}
header .smedia .fa-telegram{
    margin-right: 7px;
    color: lightskyblue;
}
header .smedia .fa-twitter{
    margin-right: 7px;
    color: #1DA1F2;
}
/* end of header */

#row{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#row .row1{
    width: 50%;
    height: 200px;
    /* padding-left: 70px; */
    margin-bottom: 20px;
}
#row .row2{
    width: 50%;
    height: 350px;
    background: url("./img/IMG_2340.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
#row .row1 h5{
    color: brown;
    margin-bottom: 10px;
}
#row .row1 a{
    text-decoration: none;
    color: grey;
    padding: 5px 10px;
    border-radius: 10px;
}
#row .row1 .mb{
    margin-bottom: 20px;
}
#row .row1 a:hover{
    border: 1px solid coral;
    color: lightcoral;
}
/* endofrow */
.project{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 50px;
}
.project p{
    color: brown;
}
.our, h3{
    margin-left: 10px;
}
.our{
    color: brown;
}
#work .herp .special{
    display: flex;
    margin-top: 20px;
    padding: 0 15px;
}
#work .herp .special .special1{
    width: 25%;
    height: 300px;
    padding: 5px;
}
#work .herp .special .special2{
    width: 25%;
    height: 300px;
    padding: 5px;
}
#work .herp .special .special3{
    width: 25%;
    height: 300px;
    padding: 5px;
}
#work .herp .special .special4{
    width: 25%;
    height: 300px;
    padding: 5px;
    margin-bottom: 40px;
}
.fa-cog,.fa-home,.fa-users,.fa-globe{
    color: slategray;
    font-size: 40px;
    margin-bottom: 20px;
}
/* endofspecial */

#heading{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#heading .text{
    color: rgb(94, 69, 6);
}
#heading .anchor a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border: 1px solid black;
    padding: 5px;
}
#heading .anchor a:hover{
    border: 1px solid brown;
    color: cornflowerblue;
}
.meet{
    padding: 10px
}
.team{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 30px;
}
.team .team1{
    background: url("./img/IMG_2356.JPG");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 32%;
}
.team p{
    margin-top: 300px;
    font-size: 18px;
}
.team .team2{
    background: url("./img/IMG_2346.JPG");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 32%;
}
.team .team3{
    background: url("./img/builder.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 32%;
}



@media screen and (max-width:600px){
    header .headern{
        flex-direction: column;
        margin-top: -50px;
        margin-bottom: 40px;
        padding: 30px;
    }
    header .headern nav a{
        display: block;
        margin-left: 40px;
    }
    header .headerc{
        margin-left: 40px;
        margin-top: 10px;
    }
    .logo{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    header h1{
        
        font-size: 20px;
        margin-bottom: 30px;
    }
    header .smedia{
        margin-left: -200px;
        margin-bottom: 250px;
    }
    #row{
        flex-direction: column;
    }
    #row .row1{
        width: 100%;
    }
    #row .row2{
        width: 100%;
        margin-top:150px; 
    }
    #work .project{
        margin-top: 30px;
    }
    #work .herp .special{
        flex-direction: column;
    }
    #work .herp .special .special1{
        width: 100%;
        margin-bottom: 10px;
    }
    #work .herp .special .special2{
        width: 100%;
        margin-bottom: 10px;
    }
    #work .herp .special .special3{
        width: 100%;
        margin-bottom: 10px;
    }
    #work .herp .special .special4{
        width: 100%;
        margin-bottom: 10px;
    }
    .team{
        flex-direction: column;
    }
    .team .team1{
        width: 100%;
    }
    .team .team2{
        width: 100%;
    }
    .team .team3{
        width: 100%;
        margin-bottom: 20px;
    }
} 

